asgiref==3.11.1
cfgv==3.5.0
distlib==0.4.0
Django==6.0.3
django-filter==25.2
djangorestframework==3.17.0
filelock==3.25.2
identify==2.6.17
Markdown==3.10.2
nodeenv==1.10.0
platformdirs==4.9.4
pre_commit==4.5.1
psycopg==3.3.3
psycopg-binary==3.3.3
python-discovery==1.1.3
python-dotenv==1.2.2
PyYAML==6.0.3
sqlparse==0.5.5
virtualenv==21.2.0
